[2017-06-08 16:07] MALPI opened #20 "Plugin not working in slave environment"
The Plugin won't work in an environment where Branch Builder Plugin and Jenkins slaves are used since they won't have access to env variables of the master.

[2017-06-08 18:02] MALPI opened #22 "Polish Readme"
With the current version of the Readme it's quite hard to integrate the plugin if you aren't using the PullRequestBuilder Plugin.

For example there are some edge cases like the `GITHUB_URL` and `CHANGE_ID` environment variables which aren't mentioned at all in the Readme currently.

[2017-06-08 18:04] MALPI opened #23 "Difference between MasterCoverageAction and CompareCoverageAction"
It's quite unclear to me what is the purpose of `MasterCoverageAction`, besides that it is optional.

Furthermore what is the difference between `MasterCoverageAction` and `CompareCoverageAction`?

[2017-06-08 18:06] MALPI opened #24 "Change License.txt"
Rename License.txt to LICENSE or LICENSE.txt so that github is able to consider it.

See https://help.github.com/articles/adding-a-license-to-a-repository/

[2017-06-08 18:09] #24 closed

[2017-06-08 18:14] MALPI opened #25 "More meaningful message if no report is found"
Instead of returning a coverage of `0` by default when no coverage report is found there should be raised an exception or at least something logged in order to inform the user about it.

See https://github.com/jenkinsci/github-pr-coverage-status-plugin/blob/cbaebc0b8f6d0cf45ea0dcd6fd3c189fedde1563/src/main/java/com/github/terma/jenkins/githubprcoveragestatus/GetCoverageCallable.java#L63

[2017-06-09 06:27] MALPI opened #26 "Coverage reporting should be enabled in this project as well"
The Project itself should also enable coverage reporting in PRs.

This will give an example for users who are interested in it.

[2017-06-16 06:48] skalaiyarasan opened #28 "0 % is showing in gitpull request"
Hi,

Coverage report is showing as 0 % in gitpull request comment. But same report is giving a value into sonarqube dashboard.

[2017-06-19 17:44] ManInGotham opened #29 "Cobertura-coverage.xml is being parsed as SimpleCov format for some reason"
My filename is cobertura-coverage.xml. Jenkins reports the following error in Record Master coverage post-build action.

java.lang.IllegalArgumentException: Strange **SimpleCov** report!
Can't extract float value by JsonPath: $.metrics.covered_percent

Call stack:
at com.github.terma.jenkins.githubprcoveragestatus.SimpleCovParser.extractValueFromPath(SimpleCovParser.java:34)
at com.github.terma.je

[2017-06-27 23:14] technolo-g commented on #28
We also are experiencing this issue. In the initial phases of debugging and will update/PR if we come upon a fix.

[2017-06-28 11:44] skalaiyarasan commented on #28
Sure. could you please enable that customize path and filename

[2017-06-28 15:46] #29 closed

[2017-06-28 22:02] technolo-g commented on #28
The issue appears to be here:
https://github.com/jenkinsci/github-pr-coverage-status-plugin/commit/a66d77b65f0fe442253d2ed1d7a5e95029d570c9#diff-22ca09200b10d3f4df393e13a098a24eR33

It is doing a lookup on `repo-name`, but our repo name is stored in the map as `git@ghe.domain.com/repo-name`. When passing the FQRN (`git@ghe.domain.com/repo-name`) the proper coverage value comes back. I am working o

[2017-06-28 22:09] technolo-g commented on #28
Steps to reproduce:
- Run a job that adds master coverage
- Open the script console
- confirm the entry is there:
[code]
- Check org/repo-name:
[code]
- comes back null
- check by FQRN
[code]
- comes back with valid float

[2017-06-29 15:23] technolo-g opened #30 "Master showing 0% even after RecordMasterCoverage is run"
After the upgrade to 1.8.1, our master coverage began reporting as 0%. This seems to be caused by using different methods to store and retrieve the data in the master coverage map. I can't be sure if it is specific to GitHub Enterprise, but that is what we are using.

The issue appears to be here:
https://github.com/jenkinsci/github-pr-coverage-status-plugin/commit/a66d77b65f0fe442253d2ed1d7a5e950

[2017-07-03 15:09] Andriy-Sorochak commented on #30
Same problem with non-enterprise repo specified as `git@github.com:organization/repo-name.git`: it's stored into master coverage map as `git@github.com:organization/repo-name.git` but later trying to retrieve by key `repo-name`

[2017-07-04 01:46] terma commented on #30
@technolo-g @Andriy-Sorochak  I can try to fix as soon back from vacation =) so after one week.

[2017-07-14 18:42] mesolimbo commented on #30
+1

[2017-07-14 18:43] aliyakamercan commented on #30
+1

[2017-07-14 18:43] mesolimbo commented on #30
(Thanks for the plugin BTW 😄 )

[2017-07-17 18:58] jhensley commented on #30
+1

[2017-07-18 03:07] terma commented on #30
Fix in #31

[2017-07-18 03:12] technolo-g commented on #30
Thanks man!

[2017-07-18 03:14] terma commented on #30
@technolo-g @jhensley @mesolimbo @Andriy-Sorochak @aliyakamercan Please try fix [1.8.2](https://github.com/jenkinsci/github-pr-coverage-status-plugin/releases/tag/github-pr-coverage-status-1.8.2)

[2017-07-18 03:14] #30 closed

[2017-07-20 18:46] aliyakamercan commented on #30
thanks!

[2017-07-21 00:57] mesolimbo commented on #30
Fix confirmed, youdabest! =)

[2017-07-25 05:37] terma commented on #28
@skalaiyarasan do you have log from your PR build?

[2017-08-03 09:30] skalaiyarasan commented on #28
@terma As of now, i'm not working on which is related this issue.

But one query. Could you please enable that customize path and filename

[2017-08-04 22:12] robvelor commented on #29
@ManInGotham Did you get this to work? I am facing the exact same problem.

[2017-08-05 00:32] ManInGotham commented on #29
Yes, I discovered that there were two files in the working directory: one
with .xml another with .cov extension. I deleted the one being parsed by
SimpleCov.

On Fri, Aug 4, 2017 at 6:12 PM, Roberto Velasquez <notifications@github.com>
wrote:

--
Best regards,
Gleb

[2017-08-05 00:49] robvelor commented on #29
@ManInGotham Thanks, I discovered a few coverage.json files in the `node_modules` dir, there is no way to set where the coverage files are located?

[2017-08-05 01:00] ManInGotham commented on #29
I didn't find a way, I deleted all files but one I wanted to be parsed from the root directory

Sent from my iPhone

[2017-08-07 12:10] terma commented on #28
@skalaiyarasan no problem

[2017-08-07 12:11] terma commented on #29
@ManInGotham feature to specify what type of reports you want to use in progress, I think that can help you.

[2017-08-07 18:04] robvelor commented on #28
@terma I having this issue as well although not sure if it related.

I have enabled the `Record Master Coverage` post build action on the job that tests master.
[code]
And then enabled the `Publish Coverage to Github` post build action on the Github Pull Request Builder job:
[code]
What is going on here?

[2017-08-16 15:12] Ch3D opened #32 "Implement support for custom location of jacoco-report file (Android support)"
I have an android app for which I would like to have code coverage reports, unfortunately this doesn't work becuase jacoco-android-plugin generates report with different filename for every flavor it's running against, i.e. `{project}\build\reports\jacoco\jacocoTestDevDebugUnitTestReport\jacocoTestDevDebugUnitTestReport.xml`.

As far I see, current implementation is only looking for `**/jacoco.xml`

[2017-08-16 22:20] jayv opened #33 "Discover PR URL via GH API to support BRANCH builds in multi-branch"
We're using the Multibranch plugin but can't use PR builds for various reasons, so we only have branch builds turned on. It which works well in github, commits get the green checkmarks, PRs get approved for merging etc....
Except this plugin is broken because it expects CHANGE_URL to be set. It would be nice to have an option to use https://developer.github.com/v3/pulls/#list-pull-requests for bra

[2017-08-17 18:32] jayv commented on #33
Here is a PR that enables PR comments with branch-only builds with Github Branch Source Plugin, guarded by a feature-flag:

https://github.com/jenkinsci/github-pr-coverage-status-plugin/pull/34

I'm not very familiar with jenkins plugin development, so feel free to point out issues with this.

[2017-08-28 19:25] ManInGotham opened #35 "Old recorded master coverage"
12:46:56 Master coverage +29%

Later when run on a pull request branch
14:53:59 [GitHub PR Status] master coverage: 0.27715
14:53:59 [GitHub PR Status] collecting coverage...
14:54:00 [GitHub PR Status] build coverage: 0.28635
14:54:00 [GitHub PR Status] Coverage 29% changed +0.92% vs master 28%

Where does it take master 28%? It should be 29%. I think it compares to some old master records.

[2017-08-30 17:05] erewok commented on #29
I am having the same issue. I have only a `cobertura.xml` in the root directory of my project and it keeps getting parsed by the `SimpleCovParser`. I don't know why this happens or how to configure the plugin to keep this from happening.

[2017-08-31 12:28] terma commented on #33
@jayv sorry for delay and thx for contribution, released under version [1.9.0](https://github.com/jenkinsci/github-pr-coverage-status-plugin/releases/tag/github-pr-coverage-status-1.9.0)

[2017-08-31 12:28] #33 closed

[2017-08-31 12:47] terma opened #37 "Build fail because of incorrect format of SimpleCov coverage"
Some of NodeJS libs contains file ```coverage.json``` which is not real SimpleCov format, because of that we have red build and need to use old version of plugin.

[2017-08-31 14:40] terma commented on #37
Special check ```Disable SimpleCov``` added to configuration in scope of [1.9.1](https://github.com/jenkinsci/github-pr-coverage-status-plugin/releases/tag/github-pr-coverage-status-1.9.1)

[2017-08-31 14:40] #37 closed

[2017-08-31 19:15] terma commented on #29
In scope of [1.9.1](https://github.com/jenkinsci/github-pr-coverage-status-plugin/releases/tag/github-pr-coverage-status-1.9.1) special configuration option ```Disable SimpleCov Coverage Parser``` so you can disable that if you don't use it.

[2017-09-07 23:21] ManInGotham commented on #35
@terma Do you know why Master Coverage might be stale? Is there a way to get detailed logs to see if it takes the latest data when comparing?

[2017-09-08 20:22] terma commented on #35
@ManInGotham will check today

[2017-09-10 04:38] terma commented on #35
@ManInGotham could you please check what do you have inside of ```com.github.terma.jenkins.githubprcoveragestatus.Configuration.xml``` some where in ```$JENHINS_HOME``` it should contains ```<coverageByRepo></coverageByRepo>``` where you can find master record.

[2017-09-10 05:23] terma commented on #22
Done.

[2017-09-10 05:23] #22 closed

[2017-09-12 13:58] dschu012 opened #38 "Add option to search for Sonar project by the projectKey"
I am using your plugin in a pipeline and it is having issues finding my master project in Sonar. The repo name is something along the lines of `my-repo` and the project name in Sonar is `My Repo`. When using `step([$class: 'CompareCoverageAction'])` it searches Sonar for http://sonarurl/api/projects/index?search=my-repo and does not find the project (oddly enough if I hit the api with `my_repo` wi

[2017-09-13 19:30] oz123 opened #39 "Injecting GIT_URL and CHANGE_URL"
Trying to make use of the hint you gave in README, I am still getting an error:

[code]

This is my pipeline:

[code]

Can you explain how to inject the variables?

[2017-09-14 04:12] terma commented on #39
@oz123 very good question, checking...

[2017-09-14 19:57] ManInGotham commented on #35
@terma Yep, I found why! There are multiple entries in Configuration.xml file.

  <coverageByRepo class="concurrent-hash-map">
    <entry>
      <string>https://company.my/repo/branchA.git</string>
      <float>0.27715</float>
    </entry>
    <entry>
      <string>https://company.my/repo/branchB.git</string>
      <float>0.286</float>
    </entry>
  </coverageByRepo>
...
I believe it happened bec

[2017-09-15 06:07] terma commented on #39
@oz123 still no answer, I tried to debug, but totally unclear where they injected and how, so have created defect for pipeline plugin https://issues.jenkins-ci.org/browse/JENKINS-46889 let see

[2017-09-15 15:03] ManInGotham commented on #35
@terma Yep, I found why it's happening!

There are multiple entries in Configuration.xml file.
https://company.my/org/repoA.git
0.27715
https://company.my/org/repoB.git
0.286
...
I believe it happened because my job is configured with Multiple SCMs. When it Records Master, it updates the coverage under repoB but compares with repoA values. How does the plugin choose which git repo to update master

[2017-09-15 15:30] terma commented on #35
@ManInGotham ```MasterCoverageAction``` looking for ```GIT_URL``` or ```CHANGE_URL``` to store coverage value. In your case stored master coverage and ```compare``` do they try to use totally different values or just specific branches?

[2017-09-20 16:41] ichasepucks commented on #39
@terma I've set `GIT_URL` in my `environments` block and right before calling `CompareCoverageAction` I dumped my env and see the correct value for `GIT_URL`.  But what appears to be happening is the call to [getGitUrl](https://github.com/jenkinsci/github-pr-coverage-status-plugin/blob/master/src/main/java/com/github/terma/jenkins/githubprcoveragestatus/PrIdAndUrlUtils.java#L80) does not have `GIT

[2017-09-20 17:59] ichasepucks commented on #39
I should note that I just tested this and using
[code]
works today as the code is written, which may even solve @oz123's problem now.

My problem is that the key into the db for coverage numbers don't match unless the workaround I suggested above works.  Or possibly using Sonar?

[2017-09-27 15:26] aknowles opened #40 "Sonar: Correct master metric (at least for Jacoco)"
In Sonar, I've got the following metrics displayed:
Coverage: 64.8%
Line Coverage: 72.8%
Condition Coverage: 38.8%

Here, it is grabbing the master as "coverage" which gets us 64.8%.
Then, we calculate the current coverage via the JacocoParser, which is just calculating off of line coverage, thus I end up comparing "coverage" versus "line coverage"...

Would it make sense to be able to select whic

[2017-09-28 13:23] oz123 commented on #39
@ichasepucks this definitely helped! The docs should be updated ...

[2017-09-28 14:18] oz123 opened #42 "Can't find master coverage repository - even though I successfully ran the report"
This is the output:
[code]

On the master branch the output is:
[code]

This is my current pipeline:

[code]

I would more than appreciate a hint how to get the reporting properly working ...

[2017-09-29 07:45] oz123 commented on #42
I am looking down the rabbit hole ...

My Jenkins configuration contains:

[code]

So why is it not finding the coverage report for the master ?

[2017-09-29 08:27] oz123 commented on #39
@ichasepucks I have to withdraw my previous comment. While you solution works for the injection itself, it still does fix the problem. The reporting still fails.

[2017-09-29 14:19] ichasepucks commented on #39
@oz123 yeah, I was going to say.  I'm still not able to get this to work until my proposed fix comes in.  Any comment @terma on this?  I can try to build this and submit a PR, but I am not a Java programmer at all.  However, it would be excellent if this got fixed.  I found this https://issues.jenkins-ci.org/browse/JENKINS-35230 which seems very related.  For some reason people think its acceptabl

[2017-10-02 01:35] terma commented on #42
@oz123 according to ```coverageByRepo``` should not contains repo URL from pull request. ```CompareStatus``` is trying to find master repo which is actually not a master but PR URL.

[2017-10-02 01:47] terma commented on #42
@oz123 do you use pipeline multibranch to trigger PR, right?

[2017-10-09 21:08] soliad commented on #39
There is an issue the way the plugin retrieve the env variable, but doing
`step([$class: 'MasterCoverageAction', scmVars: [GIT_URL: env.GIT_URL]])`
is working in our Github Organization folder.

But it's not working for 'CompareCoverageAction' as the CHANGE_URL (with the PR path) is taking over the scmVars parameters.
Wouldn't it make sense to read from scmVars first ?

[2017-10-09 21:18] ichasepucks commented on #39
@soliad yes, that's exactly what I'm proposing as well.

[2017-10-10 13:48] soliad commented on #39
I propose #45 as a quick simple fix, so we just use scmVars and do not need to care about env variable propagation

[2017-10-10 14:07] oz123 commented on #39
@soliad
I am sorry for responding late. I am quite busy with other projects, so I can't promise to make the required changed quickly.
#45 seems promising, can you also update the docs and add an example pipline?

[2017-10-10 14:14] soliad commented on #39
@oz123 yes I can take a look at the doc as well

[2017-10-20 15:58] snadorp commented on #42
Same problem here, would be great to have the fix merged.

[2017-10-20 18:34] oz123 commented on #42
@trema, yes I do.

[2017-11-07 09:48] KostasOneFile opened #47 "Step ‘Publish coverage to GitHub’ aborted due to exception"
I am using GitHub Pull Request Builder Plugin to trigger a build on PR and I currently managed to post the test results and I am trying to post code coverage as well.

I am producing a coverage.xml report, which is around 66% - Lines, and I have added Record Master Coverage and Publish coverage to GitHub post-build actions but I end up getting this error below. Is it trying to access that coverage

[2017-11-07 15:33] ayoub-benali commented on #42
any plan to merge this PR ?

[2017-11-09 13:16] KostasOneFile commented on #47
I renamed my coverage report xml to cobertura.xml so the Master coverage is not 0% any more. I still can't get the final step to work though.

[2017-11-09 15:44] rikin-patel opened #48 "java.lang.IllegalArgumentException: Strange Jacoco report!"
Getting this error why scanning for pull request code coverage...

[GitHub PR Status] collecting coverage...
ERROR: Build step failed with exception
java.lang.IllegalArgumentException: Strange Jacoco report!
File path: /var/jenkins_home/jobs/pullrq-build-RELEASE/workspace@2/cpp-ui/language-hook/target/site/jacoco/jacoco.xml
Can't extract float value by XPath: /report/counter[@type='LINE']/@missed

[2017-11-21 22:15] valemany opened #49 "Reporting incorrect coverage percentage from xml file"
Thanks in advance for looking into this.

I have atttached the xml file that the plugin is reading. In github it says that coverage is 48% but the actual coverage should be 41%.

[coverturaXml.docx](https://github.com/jenkinsci/github-pr-coverage-status-plugin/files/1493166/coverturaXml.docx)

[2017-11-21 22:18] carlosmmelo commented on #49
here is the above file in a gist:
https://gist.github.com/carlosmmelo/459d1c9ae7df5d51bcbc6ac86d43dac3

[2017-11-21 22:23] carlosmmelo commented on #49
I'm having the same issue with `jacoco`

XML report lines covered is 8% and this plugin its publishing 45% which is wayyyyy too much of a difference.

I see that your math is good at: https://github.com/jenkinsci/github-pr-coverage-status-plugin/blob/e1d66551332ae26829bb1857a7fbf6df266faf3a/src/main/java/com/github/terma/jenkins/githubprcoveragestatus/JacocoParser.java#L65

however I suspect its a

[2017-11-21 22:43] valemany commented on #49
The covertura parser is doing the following calculation:

    **return lineRate / 2 + branchRate / 2;**

The lineRate already gives you the % of lines covered, do not understand why branchRate matters in this case.

You can find this here:

https://github.com/jenkinsci/github-pr-coverage-status-plugin/blob/master/src/main/java/com/github/terma/jenkins/githubprcoveragestatus/CoberturaParser.java#L6

[2017-11-23 14:12] edinc commented on #38
This would indeed be really cool. I'm facing a similar issue.

[2018-01-10 00:26] guozhangwang opened #50 "GitUtils#getUserRepo logic is very strictive"
While working with this plugin on jenkins, I found that one of its key logic, `GitUtils#getUserRepo` has unrealistic assumptions on the git url, in its regex matching:

https://github.com/jenkinsci/github-pr-coverage-status-plugin/blob/ea26fb22ad13e6a310f614dc503fcd4218ea5c50/src/main/java/com/github/terma/jenkins/githubprcoveragestatus/GitUtils.java#L26

For my working repository, the `GIT_URL` s

[2018-01-10 02:40] terma commented on #50
@guozhangwang could you please add configuration as doc. Don't have access to apache builds.

[2018-01-10 02:41] terma commented on #50
Just tried to use ```GitUtils.getUserRepo(...)``` all works fine, it returns ```apache/kafka```

[2018-01-10 21:06] guozhangwang commented on #50
I can confirm it works fine by testing it on my local branch. Closing it now.

[2018-01-10 21:06] #50 closed

[2018-01-15 15:33] Mokto opened #51 "Replacement vs creation of comments"
Hi,

Would it be possible to replace the previous comment instead of creating one each time ?

![screen shot 2018-01-15 at 10 31 48 am](https://user-images.githubusercontent.com/5103928/34949856-5e04c6be-f9df-11e7-9d36-f3cbb17748d3.png)

I would like to avoid this behavior.

Thanks !

[2018-01-16 01:59] terma commented on #51
@Mokto I think that possible, let me check

[2018-02-02 13:38] Mokto commented on #51
Hey,

Any news on this ?

Thanks !

[2018-02-21 22:25] alexm118 opened #53 "Unable to communicate with Github: Error: Step ‘Publish coverage to GitHub’ aborted due to exception"
We're using Github Pull Request Builder to trigger checks against our pull requests on our github enterprise repositories. We got the checks working and passing, and now we're going through and trying to incorporate code coverage onto the PR's.

We host jenkins via HTTPS along with our github enterprise. When the test pass and we kickoff the post build action we get the following error report:

[c

[2018-02-26 15:15] alexm118 commented on #53
We resolved this issue by changing our net.properties and adding nonProxyHosts.

[2018-02-26 15:15] #53 closed

[2018-03-06 14:43] f-lopes commented on #47
If your GitHub repository is private, does your API token include full control of private repositories?

[2018-03-28 05:17] Narimm opened #54 "Feature: Support Jenkins Credentials / Oauth tokens"
[Feature Request]

Currently most github plugins support authentication using the jenkins credential system with an OAUTH token as an option as well.

I am requesting
1. Include Support to obtain credentials from Jenkins Credential Storage
2. OAUTH token authentication

[2018-04-08 06:40] smahbod2014 commented on #40
Any update on this? This PR is huge for us.

[2018-05-16 01:11] gouraharidas commented on #51
Instead of creating a comment everytime, it would be great if we can put it here.

![image](https://user-images.githubusercontent.com/38141950/40091248-6315048a-586b-11e8-912c-c0bf78f610e1.png)

[2018-05-18 08:37] SreenivasReddy12 opened #56 ""Jenkins URL for icon in Pull Request" Option Not Functioning."
I tried to give some customized URL in option "**Jenkins URL for icon in Pull Request**" for making the respective URL as the hyperlink/reference of the Image/Icon, But irrespective of configuration, the Image/Icon referencing same Jenkins URL always.

**Plugin Name:** GitHub Pull Request Coverage Status
**The Icon referencing URL currently:** http://jenkins_url/repo_name/$build_number/
**Required

[2018-05-21 20:34] gouraharidas commented on #56
@SreenivasReddy12, Please create a PR against this repo. The admin might approve and merge the changes. :)

[2018-05-23 05:39] vincent-fuchs commented on #49
Hi,

I thought I had the same issue, but actually was able to understand that I wasn't comparing the same thing.. Here's how I found it out :

With an aggregated jacoco.xml report (generated with jacoco 0.8.1 and report-aggregate goal) :

- the html version of the report generated by Jacoco gives an overall **82% instruction coverage** --> 1,265 of 7,335 instructions are missed.

- when taking the

[2018-06-27 11:29] spbkelt opened #57 "Constantly getting 0% master coverage on non PR branches"
Hi,
Here is my scripted pipeline code:
`def executeChecks() {
    if (params.SKIP_TESTS) {
        echo('Skipping Test stage')
        return
    }

    stage('Test') {
        executeCompatibilityChecks()
        executeUnitTests()
    }

    stage('Record Coverage') {
        if ( env.DEFAULT_BRANCH == env.GIT_LOCAL_BRANCH ) {
            currentBuild.result = 'SUCCESS'
            step([$class:

[2018-06-27 11:55] spbkelt commented on #57
PR build failed:

We use multi-branch pipeline
[code]

What do we need to setup in order to be able to record code coverage and compare with already stored master coverage? What is the comparison workflow?

[2018-07-07 11:13] killthemyth commented on #42
Any plan to merge the commit?

[2018-08-02 15:16] stuarthendren opened #59 "Jacoco version 0.8"
It would be good to update the jacoco version to get eh improved features it has eg Java 9, Java 10 (0.8.1) and lombok generated support.

[2018-08-07 03:16] terma commented on #59
Looks like Jacoco Jenkins Plugin uses it as well https://www.jacoco.org/jacoco/trunk/doc/changes.html

[2018-08-07 03:34] terma commented on #59
Coverage plugin doesn't depends on Jacoco, instead it uses report generated by Jenkins Jacoco Plugin or plugin from your app maven conf, as result if you want to increase version just update it.

[2018-08-07 03:34] #59 closed

[2018-08-08 14:33] keperry commented on #42
Please merge this

[2018-08-10 15:20] tstokvis opened #60 "No jacocoTestReport in Git Repo"
Hey,

For numerous reasons we don't store the `jacocoTestReport.xml` in our GitHub repos, however it is generated during our jenkins process in a docker container. Would it be possible to provide a git repo url and a jacocoTestReport when calling `step([$class: 'CompareCoverageAction', scmVars: env.GIT_URL])`?

[2018-08-17 15:00] mohan08p commented on #47
@KostasOneFile @f-lopes : Same issue I am facing... Is there any workaround did you find ? Yes I have configured API token too, still same issue. Thank you.

[2018-08-18 03:34] terma commented on #47
@mohan08p do you use ```github.com``` or own instance?

[2018-08-19 16:45] mohan08p commented on #47
@terma : Hi, I am using Github API url  `https://api.github.com` along with a personal access token.

[2018-08-20 11:54] mohan08p commented on #47
@terma : Here is a log for build failed,

[GitHub PR Status] start
ERROR: Build step failed with exception
java.lang.UnsupportedOperationException: Can't find ghprbPullId or scmVars in build variables!
	at com.github.terma.jenkins.githubprcoveragestatus.PrIdAndUrlUtils.getPrId(PrIdAndUrlUtils.java:73)
	at com.github.terma.jenkins.githubprcoveragestatus.CompareCoverageAction.perform(CompareCoverage

[2018-08-20 16:52] franciscocpg opened #61 "currentBuild.status = SUCCESS"
Why we need to set `currentBuild.status = 'SUCCESS'`?

It is very strange since I have another stages after my test stage and once I set `currentBuild.status = 'SUCCESS'` I need to start to control this status manually.

[2018-08-20 17:06] franciscocpg commented on #61
Sorry.

In fact was a problem with the command I was testing that was returning 0.
Closing.

[2018-08-20 17:06] #61 closed

[2018-08-28 09:41] f-lopes commented on #47
Hi @mohan08p

The GitHub PR Coverage status plugin will get the PR ID either from the GitHub PR Builder plugin or from the MultiBranch plugin.

If you're not using the PR Builder plugin, the plugin will try to get the PR ID from GitHub API (opened PRs) using the `GIT_COMMIT`, `GIT_BRANCH` and `GIT_URL` environment variables.

Did you try to print the available environment variables? Do the `ghprbP

[2018-09-03 12:57] mohammedali-kadri commented on #47
@f-lopes , i am facing same issue, i have also injected this 2 variables,,
![image](https://user-images.githubusercontent.com/22442538/44988018-deab4b80-afa6-11e8-9e7a-0b079a1c7063.png)

[2018-12-27 12:14] dmotpan commented on #51
GH-64 GH-65

[2018-12-27 12:15] #51 closed

[2018-12-27 16:12] jaredj opened #67 "Compare coverage against PR base branch instead of master"
Not all of our pull requests are opened against a single branch; sometimes we create pull requests against release/hotfix branches.  When we do, the coverage change report is not meaningful.  What would it take to always compare coverage in a PR branch against the PR's base branch instead?

[2018-12-28 02:00] terma commented on #67
I think that smt what we can do, do you know how to get base branch info from github pr?

[2018-12-28 21:45] jaredj commented on #67
@terma I don't know offhand but I can research it next week.  if I have the time and can get with the program maybe I can make a PR too but no promises :)

[2018-12-30 23:58] jaredj commented on #67
the base branch can be retrieved with the github API:

https://developer.github.com/v3/pulls/#get-a-single-pull-request

in the bit of example response they give the base branch happens to be `master`:

[code]

I think `ref` is what we want.

I'm not sure I'm reading it right but it seems like you're using [GHPullRequest.java](https://github.com/kohsuke/github-api/blob/master/src/main/java/org/koh

[2019-02-25 06:35] anton-yurchenko commented on #67
@dmotpan, works as expected.

### Result:
<img width="771" alt="screen shot 2019-02-25 at 8 31 39" src="https://user-images.githubusercontent.com/33016810/53318409-cc67f580-38d7-11e9-9408-cbe16ec87b7a.png">

### Pipeline:
[code]

[2019-02-25 09:10] jaredj commented on #67
Yes, it works for me too!  Sorry for the late reply.

Note that (not a big deal) it still calls the comparison branch "master" in the status check even though it's not

[2019-04-03 09:50] smurugesh1686 opened #70 "Not able to change value for "Jacoco coverage counter type""
We tried to change value for "Jacoco coverage counter type" in "Publish coverage to GitHub" from "instruction" to "Line". But it new config changes are not getting changed and it is always considering "instruction"

[2019-04-03 10:26] dmotpan commented on #70
@smurugesh1686 are you using pipeline or freestyle job? can you show how are you configuring the plugin?

[2019-04-03 10:41] smurugesh1686 commented on #70
@dmotpan: It is a freestyle job.
![image](https://user-images.githubusercontent.com/37539382/55473015-240e2500-562b-11e9-9465-c727189f71f7.png)

[2019-04-03 10:52] smurugesh1686 opened #71 "Build coverage value in jenkins not matching with the coverage value in sonarqube"
We did a gitHub+Jenkins+Sonar integration. After the execution of Jenkins job, Code Coverage in sonarqube is updated with 26.6%(jacoco-ut.exec). But in Build coverage, it is updated as 20.54%. From where the Jenkins getting the build coverage value if it is from jacoco.xml, why there is a discrepancy and how to resolve this?Please advise.

[2019-04-05 09:01] smurugesh1686 opened #72 "How to resolve "WARN: Unable to locate 'report-task.txt' in the workspace. Did the SonarScanner succedeed?""
We are using sonarscanner 2.8.1
In analysis properties:
sonar.analysis.mode=preview
sonar.sources=modules.
But in Console:
INFO: ANALYSIS SUCCESSFUL
INFO: Executing post-job GitHub Pull Request Issue Publisher
INFO: ------------------------------------------------------------------------
INFO: EXECUTION SUCCESS
INFO: ------------------------------------------------------------------------
INFO: To

[2019-04-11 12:25] SpComb opened #73 "WARNING: failed to uncoerce com.github.terma.jenkins.githubprcoveragestatus.CompareCoverageAction@47dba41"
Using `step([$class: 'CompareCoverageAction', ...])` in a declarative pipeline results in the following warning in the Jenkins master logs:

[code]

In this case, the step is being called in a custom method defined in a `load`ed groovy script.

### `Jenkinsfile`

[code]

#### `ci/github-pr-coverage.groovy`

[code]

[2019-05-07 18:27] jordanjennings commented on #54
Please add credential support, it would be much easier to reuse an existing credential than configure additional automated system setup to add a personal token just for this plugin. Thanks!

[2019-05-09 18:09] xitter commented on #70
I am experiencing the same issue. Also, I am not sure how instruction coverage is being calculated.

[2019-05-19 08:20] 9652040795 commented on #47
am getting this error while testing code with jacoco, can any one help

[JaCoCo plugin] - /var/lib/jenkins/workspace/jacoco_test/src/main/java 1 files
[JaCoCo plugin] Loading inclusions files..
[JaCoCo plugin] inclusions: [**/*.class]
[JaCoCo plugin] exclusions: []
ERROR: Step ‘Record JaCoCo coverage report’ aborted due to exception:
java.io.IOException: Invalid execution data file.
	at org.jacoco

[2019-06-27 10:18] asrajmane193 commented on #70
I am experiencing the same issue with a multi-branch pipeline. I have the following line in my `Jenkinsfile`
[code]

[2019-07-04 10:05] mahernoz-d commented on #72
sonar.analysis.mode=publish

[2019-07-09 17:14] llamahunter opened #74 "Remove jdk-tool implicit plugin dependency"
This plugin has an implicit dependency on jdk-tool for installing the Oracle JDK. Given Oracle's recent hostile licensing changes, it seems detrimental to have plugins depend on it.  I think a new release of this plugin against a later version of jenkins (after jdk-tool was split out of the core) is all that's needed.

[2019-08-08 17:45] tburow opened #75 "status check reporting success on coverage drop"
Im getting a successful status check reported in Github when the coverage drops, im expecting a failed check.

[GitHub PR Status] master coverage: 0.496
[GitHub PR Status] collecting coverage...
[GitHub PR Status] build coverage: 0.47907975
[GitHub PR Status] Coverage 48% changed -1.69% vs master 50%
[GitHub PR Status] publishing result as status check
<img width="553" alt="image" src="https://use

[2019-08-13 22:10] HaoTanAtMLB opened #76 "Make Commit Status Context Configurable"
The Github commit status is currently hard coded to `test-coverage-plugin`.  It would be great if that is a optional parameter when calling the plugin.  For example:

[code]

[2019-08-16 08:57] SpComb opened #77 "MasterCoverageAction gets confused by node_modules/**/coverage.json"
Some yarn packages may ship `coverage.json` files. These dependencies should not be considered in any coverage metrics:

[code]

The `MasterCoverageAction` step gets confused by these `coverage.json` files, because they are not ruby SimpleCov files:

[code]

It does not seem to be possible to configure the search patterns for the various coverage files, which makes it seemingly impossible to ignor

[2019-08-16 10:03] SpComb commented on #77
Workaround is to use `disableSimpleCov: true`

[2019-08-19 01:43] brandonsturgeon commented on #42
I could make use of this still.

[2019-08-19 06:40] SpComb commented on #77
The pipeline step `disableSimpleCov: true` didn't actually work, it's a global setting, not a pipeline step parameter:

[code]
[code]

Unforunately it doesn't look like configuration-as-code plugin supports this plugin's settings either :(

[2019-09-15 21:51] codeocelot opened #78 "Add documentation for options including `publishResultAs`, `scmVars`, etc"
Hi maintainers!

First, thanks for publishing this plugin.  It's been a great help to my team's workflow.

While using this plugin, I found the README documentation pretty unhelpful because it didn't explain the available options for the plugin.  In fact, the documentation does not produce the expected results in at least one case-- `publishResultsAs` is always defined as `statusCheck` throughout

[2019-09-24 09:17] dmotpan commented on #78
hey @codeocelot
Feel free to submit a PR. Thank you!

[2019-09-24 09:20] dmotpan commented on #75
@tburow currently, the status check reported is always a success, but it will be reporting a failure in the next release of the plugin

[2019-10-01 14:08] storpeyCHT commented on #75
I see the change to support this is merged.  Any ETA on when the release will be out?

[2019-10-04 07:53] dmotpan commented on #75
@tburow @storpeyCHT A new version of the plugin with this feature has been released

[2019-10-04 07:53] #75 closed

[2019-10-14 07:43] SpComb commented on #77
Dupe of #37, seems like the `disableSimpleCov` flag is intended to fix this specific isuse.

Ideal fix would be to make the `**/coverage.json` pattern configurable.

[2019-10-14 07:43] #77 closed

[2019-11-14 09:43] kimxogus opened #80 "Support Configuration as code plugin"
This plugin doesn't seem to support casc.

Config json schema of this plugin doesn't look right
![image](https://user-images.githubusercontent.com/11684628/68845128-482bfb80-070e-11ea-8ef0-3d8dab1e8168.png)

also, configuration variables can't be set.
[code]

[2019-12-10 12:46] EvanSchnellMDT commented on #70
I am experiencing the same issue, it appears to be an issue with the UI in Jenkins.  We are running Jenkins on Windows.

1. Open a build
2. Set the coverage to Complexity & Status Check
3. Save
4. View Job Config History, note it saved correctly

`<com.github.terma.jenkins.githubprcoveragestatus.CompareCoverageAction plugin="github-pr-coverage-status@2.1.1">
<jacocoCoverageCounter>COMPLEXITY</jaco

[2019-12-10 15:37] EvanSchnellMDT commented on #70
I think I found the root cause here:  https://stackoverflow.com/questions/28972175/values-not-persisting-in-dropdown-of-optional-block-jelly-jenkins

Will try and create a PR.

[2019-12-10 16:58] amhest commented on #70
I am experiencing the same issue, it appears to be an issue with the UI in Jenkins.  We are running Jenkins on Windows.

1. Open a build
2. Set the coverage to Complexity & Status Check
3. Save
4. View Job Config History, note it saved correctly

`<com.github.terma.jenkins.githubprcoveragestatus.CompareCoverageAction plugin="github-pr-coverage-status@2.1.1">
<jacocoCoverageCounter>COMPLEXITY</jaco

[2019-12-10 16:58] amhest commented on #70
I think I found the root cause here:  https://stackoverflow.com/questions/28972175/values-not-persisting-in-dropdown-of-optional-block-jelly-jenkins

Will try and create a PR.

[2020-01-27 19:41] joshua-s commented on #76
This would be quite nice!

[2020-01-31 12:38] Spaum145 commented on #72
Which version of SonarQube Server do you have? I heard that `sonar.analysis.mode` became deprecated since 6.6 version

[2020-02-07 07:53] dmarjanovic opened #81 "Unknown parameter(s) found for class type 'com.github.terma.jenkins.githubprcoveragestatus.CompareCoverageAction': jacocoCounterType"
We see:
[code]
when using documented approach from [README.md](https://github.com/jenkinsci/github-pr-coverage-status-plugin/blob/master/README.md#how-to-use-with-jenkins-pipelines):
[code]
If we simply replace `jacocoCounterType` with `jacocoCoverageCounter` ([reference in CompareCoverageAction class](https://github.com/jenkinsci/github-pr-coverage-status-plugin/blob/master/src/main/java/com/gith

[2020-03-25 08:25] lianfulei commented on #72
i have solve the problem，jenkins Prepare SonarQube Scanner environment must be true

[2020-04-20 16:15] TilakShrma opened #83 "Same Coverage for Pull Request and Master Build"
I am using getting the same coverage for master and pull request,

here is my jenkins pipeline syntax

`
def fullBranchUrl(branchName) { return "${scm.getUserRemoteConfigs()[0].getUrl()}/tree/$branchName" }

timestamps {
    node(label: 'master') {
        stage('Checkout Git Repo') {
            ....
            ....
        }
        stage('Test stage') {
            echo "test stage in progress

[2020-04-22 09:33] TilakShrma commented on #83
I found the issue, it was running both `MasterCoverageAction` and `CompareCoverageAction` in case of Pull request. Closing this issue

[2020-04-22 09:33] #83 closed

[2020-04-28 01:22] DavidEllis008 commented on #38
This would be helpful

[2020-04-28 19:34] kmos opened #84 "Feature: make configurable status check on coverage drop or add a kind of "tollerance""
Hi,

First, thanks a lot for your work in this plugin, it's  very useful for my organization even if code coverage reporting is a ~stressful~ topic.

I noticed that from version [2.1.1](https://github.com/jenkinsci/github-pr-coverage-status-plugin/releases/tag/github-pr-coverage-status-2.1.1), is present the possibility to

which is great and a fair point of discussion for the proposed code in PR

[2020-05-06 10:11] ivan3177 commented on #76
Bump, would be great to have this kind of configuration

[2020-05-06 10:12] ivan3177 commented on #84
Agreed, such coverage changes like <1.00% are annoying
Would be great to have possibility to set some threshold in percents for which coverage change is satisfied

[2020-06-08 19:31] zohrenweiss opened #85 "Support rate_limit endpoint bypass"
The rate_limit endpoint is pinged before any authorization, so for private repos with SSO/SAML, it appears this plugin can't be used.

An option to bypass this check and use a default rate would be nice.

[2020-07-20 21:27] tburow opened #87 "Merge some fixes please"
ok so lots of issues going on with this plugin - to keep it short - if you follow the documentation - it doesnt work.

please merge the pending fixes....

[2020-07-22 20:58] btkelly commented on #87
I would also like them merged. As of today the plugin no longer works for me as the Github API needs updating because of recent GitHub deprecations I believe. There is an open PR for that, #86 please merge this and deploy a new plugin version.

[2020-10-07 19:38] svc-Jenkins-CH opened #90 "no public field ‘sonarLogin’ found in class com.github.terma.jenkins.githubprcoveragestatus.CompareCoverageAction"
Can we get some attention on this plugin -

Plugin broke again today with latest Jenkins updates.

java.lang.UnsupportedOperationException: no public field ‘sonarLogin’ (or getter method) found in class com.github.terma.jenkins.githubprcoveragestatus.CompareCoverageAction

—T

LOG…
failed to uncoerce com.github.terma.jenkins.githubprcoveragestatus.CompareCoverageAction@5d79a38
java.lang.Unsupporte

[2020-10-12 13:45] svc-Jenkins-CH commented on #73
This issue popped up again last week for us - anyone have a solution on this?

[2020-10-18 10:12] toanlakaplan commented on #67
Hi @terma
Thanks for your support,
How about the progress of this issue?

[2020-10-27 13:17] jaumard opened #91 "Fail build if coverage not good enough"
Is there a way to make the build fail if the coverage is bad ? Or having the statusCheck as required in order to block the merge button.
<img width="942" alt="Capture d’écran 2020-10-27 à 14 16 40" src="https://user-images.githubusercontent.com/2970449/97306642-0a60ae00-185f-11eb-8984-b1080aa43ccb.png">

Thanks!

[2020-11-04 20:19] gimler commented on #80
any update?

[2020-11-23 18:37] tburow opened #92 "GitHub Personal Access token getting invalidated"
we are using this plugin along with the Github Organization jobs to accomplish automated PR builds.

the issue we are having is that somewhere in the communication with this configuration the Github PATs is getting invalidated.
we have a simple service account with a PAT token on Github Enterprise set up for processing Pull requests.

periodically when trying to upload coverage reports
[code]
resu

[2020-11-23 18:41] tburow commented on #92
My suspicion is when the Coverage check fails (drop in coverage) - thats when the token is getting invalidated.

[2020-11-23 19:04] tburow commented on #92
another Error output from this plugin - ```failed to uncoerce com.github.terma.jenkins.githubprcoveragestatus.CompareCoverageAction@6abd906a
java.lang.UnsupportedOperationException: no public field ‘sonarLogin’ (or getter method) found in class com.github.terma.jenkins.githubprcoveragestatus.CompareCoverageAction
[code]

[2020-11-27 09:57] akshaygupta2208 commented on #92
I am also facing the same error. On the master branch, I am able to push the report but on other branches, it is failing with the same error.

[2020-11-27 10:04] singhmanpreet2 commented on #92
I am facing the same issue as well. I am able to fetch existing code coverage on master branch to the pipeline but while pushing the coverage for feature branch to Pull request it fails.

Error: hudson.remoting.ProxyException: java.io.IOException: Server returned HTTP response code: 401 for

Any updates on this ?

[2020-11-30 09:41] ldormoy commented on #92
Also having this issue.

I tried to reproduce that but can't validate it. The plugin still works after I removed some unit tests from a dummy PR and ran the Jenkins job twice. although the corresponding GitHub check reports a too low coverage.

In my case this error started to happen during the migration of our Jenkins from an EC2 instance with in-place updates to a containerized Jenkins master bu

[2020-11-30 19:45] tburow commented on #92
Ive run my self in circles on this issue - I honestly don't know whats causing it - but - My Recommendation for the plugin is to update it use the credential store for pulling the PAT vrs storing it in the plugin config.  doing so should eliminate the issue, albeit indirectly.

[2020-11-30 19:49] tburow commented on #92
another thought on this is that the plugin needs the Github API updated in it.  it is out of date. - remotely possible that could have affect. however I dont have the logging to validate that.

[2020-12-10 20:46] darshanshah commented on #28
[GitHub PR Status] start

[GitHub PR Status] getting master coverage...

use default coverage repo

[GitHub PR Status] master coverage: 0.0

[GitHub PR Status] collecting coverage...

[GitHub PR Status] build coverage: 0.0

[GitHub PR Status] Coverage 0% changed 0.0% vs master 0%

[GitHub PR Status] publishing result as status check

[2020-12-11 22:28] darshanshah opened #93 "Coverage is not collecting from my branch"
I am getting 0.0 build coverage as well as for master coverage 0.0

[GitHub PR Status] start

[GitHub PR Status] getting master coverage...

use default coverage repo

[GitHub PR Status] master coverage: 0.0

[GitHub PR Status] collecting coverage...

[GitHub PR Status] build coverage: 0.0

[GitHub PR Status] Coverage 0% changed 0.0% vs master 0%

[GitHub PR Status] publishing result as status che

[2021-02-03 20:47] adnancerner commented on #92
@tburow we faced similar issue after updating our Jenkins version from 2.163.1 to 2.263.1. Please look at the pr when you get a chance. We have this built and deployed on our Jenkins node.
Main issue is that your Jenkins version does not match the one that the plugin is configured for. So please update the jenkins.version in pom to match your jenkins version and that should fix your issue.

[2021-02-03 21:01] tburow commented on #92
NICE!

[2021-02-03 21:33] tburow commented on #92
@adnancerner
im not finding the 4.16 plugin dependency when I try to build it?

[2021-02-03 22:14] adnancerner commented on #92
[This is the latest release](https://github.com/jenkinsci/plugin-pom/releases/tag/plugin-4.16) I found. When I build it locally with
[code]
I don't run into any issues. Can you please let me know what the error is?
I also ran
[code]
and verified that the jenkins instance on that port had the plugin installed properly.

[2021-02-03 23:09] tburow commented on #92
@adnancerner im sure its my environment - I have not compiled Jenkins plugins directly before - fumbling through it I finally got it to compile

[2021-02-04 00:33] adnancerner commented on #92
Glad it is working for you! Let me know if you face any issues as that'll help us prepare for them as well.

[2021-02-10 20:10] adnancerner commented on #92
Here's the actual issue that I found:
`2021-02-10 18:49:08.305+0000 [id=64]	WARNING	hudson.Functions#getPasswordValue: <f:password/> form control in Jenkins/configure.jelly is not backed by hudson.util.Secret. Learn more: https://jenkins.io/redirect/hudson.util.Secret`
Basically in the global.groovy in the resource folder the password tag calls the method `getPasswordValue` which fails to retrieve

[2021-03-15 08:48] harrysingh opened #95 "Plugin incompatibility with newer Sonar versions"
### Version report
2.1.1

Jenkins and plugins versions report:

[code]

- What Operating System are you using (both controller, and any agents involved in the problem)?

[code]

### Reproduction steps

Setup Publish of coverage using plugin

### Results

Expected result:

It should be able to find the master coverage from Sonar

Actual result:

The API used to search for projects is `/api/projects

[2021-03-15 09:25] harrysingh commented on #95
@tburow Can you please help review this?

[2021-03-15 10:03] maxr-jidol commented on #95
:+1:

[2021-03-15 16:58] tburow commented on #95
try building this branch locally and see if it resolves your issue - theres no active maintainers on this plugin anymore as far as I know.   I used this locally and it fixed my issue.   - I think you will need to move over to the checks-api, this plugin is more or less deprecated.

[2021-05-26 08:55] smurugesh1686 commented on #70
Is this issue fixed? I am still facing this issue.

[2021-09-29 16:31] rvarma-godaddy opened #98 "java.io.IOException: Error while accessing rate limit API"
### Version report

Jenkins and plugins versions report:

[code]

- What Operating System are you using (both controller, and any agents involved in the problem)?

[code]

### Reproduction steps

1. We are setting up the github coverage status plugin integration with Jenkins
2. The plugin is installed as expected but I get the below error during the `CompareCoverageAction` step
3. The configuratio

[2021-10-01 23:15] rvarma-godaddy commented on #98
@Yunir or anyone else watching bugs in this repo -> can you please reply to this issue. Would really appreciate it! thank you!

[2021-10-05 05:09] trwicks commented on #98
We are getting a similar error.

[2021-10-05 06:43] cwansart commented on #72
What does

mean? Where did you set it?

[2021-11-09 01:18] trwicks commented on #98
Any updates on this bug?

[2021-12-01 08:46] emnioj commented on #73
@svc-Jenkins-CH  did get the solution for this. i got the same error. thanks.

[2021-12-13 20:51] abekenov93 commented on #72
Jenkins -Configure - will be 'Tick' upon the sonarqube configuration

but that didn't solve my problem

[2021-12-13 20:51] lianfulei commented on #72
这是来自QQ邮箱的假期自动回复邮件。
 
您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2022-01-21 19:33] darshanshah commented on #98
we are seeing the same issue. any update, please?

[2022-04-29 19:24] IvanKostyuk commented on #72
I'm getting the same problem. I have following setup.

Job - BestPracticeScan

Repository structure
`Vendor1/`
`Vendor2/`
`Vendor3/`

Under `Vendor2/`
`Project/`
`Project/sonar-project.properties`
`Project/src`

My file `sonar-project.properties` contains
[code]

In Jenkins job configuration I set
Path to project properties `Vendor2/Project/sonar-project.properties`

Build fails with
`ERROR: The f

[2022-04-29 19:24] lianfulei commented on #72
这是来自QQ邮箱的假期自动回复邮件。
 
您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2022-07-12 13:40] jantman commented on #54
Any odds of getting this looked at? We're having an issue where auth with our PAT fails every time we upgrade Jenkins, and we have to re-save it in the configuration. Allowing credential support would resolve that...

[2022-08-10 06:37] faizan002 commented on #80
For some reason, I dont see any configuration in config.yml after configuring the plugin via GUI.
It is important for us to be able to CASC config the plugin

[2022-08-22 20:14] #25 closed

[2022-09-26 00:39] rsov commented on #98
Having same issue

[2022-10-13 19:03] shintasmith commented on #54
Please add this. We have credentials to Github installed in Jenkins credentials by another team that maintains Jenkins for our company. We don't have access to the token itself.

[2022-11-18 21:07] #92 closed